body{
  margin: 20px;
  background-color: chocolate;
 }


 img{
   margin-top: 20px;
   height: 300px;
   width: 300px;
   border-color: white;
   border-radius: 30px;
   border-style: solid;
 }
 
#instagram{
  color: crimson;
}

 .li{
   font-style: oblique;
   font-size: 18px;
   font-weight: bold;
 }

 #li{


 }